In [42]:
import learning2read
from learning2read.b06 import *
from learning2read.proc import Procedure
from learning2read.preprocessing import TotalDataFrame
from importlib import reload
reload(learning2read.preprocessing)
learning2read.reload(learning2read.preprocessing)

In [2]:
Data("users").shape, Data("isbn").shape

((278858, 3), (226, 4))

In [3]:
procedure6001 = [
    {
        'class' : 'learning2read.preprocessing.TotalDataFrame',
        'output' : 'df_total',
        'input_data' : ['raw_train', 'raw_implicit', 'raw_test'],
    },
    {
        'class' : 'learning2read.preprocessing.UserRatingSqueeze',
        'output' : 'user_rating',
        'input_data' : 'raw_train',
        'filter_num' : 3,
        'statistics' : ['num','mean','std','skew'],
        'na_policy' : 'median',
    },
    {
        'class' : 'learning2read.preprocessing.BookRatingSqueeze',
        'output' : 'book_rating',
        'input_data' : 'raw_train',
        'filter_num' : 3,
        'statistics' : ['num','mean','std','skew'],
        'na_policy' : 'median',
    },
    {
        'class'  : 'learning2read.preprocessing.UserBookTable',
        'output' : 'df_total_features', # (X,y={-1,0,1,2,...,10})
        'input_data' : ['df_total', 'user_rating', 'book_rating'],
        'na_policy' : None, # should fill it before training
    },
    {
        'class'  : 'learning2read.preprocessing.RowFilter',
        'output' : 'df_train',
        'input_data' : 'df_total_features',
        'func' : r"lambda df : df['Book-Rating']>0",
    }
]

In [4]:
def run_proc(proc, filename, data, cache = True):
    if cache and File.is_readable(filename):
        P = load_pickle(File(filename))
    else:
        P = Procedure(proc, verbose = True)
        P.load_data(data)
        P.run()
        save_pickle(File(filename), P)
    return P
def print_proc(proc): return pd.DataFrame(proc).loc[:,['class','input_data','output']]

In [5]:
pd.DataFrame(procedure6001).loc[:,['class','input_data','output']]

,class,input_data,output
0,learning2read.preprocessing.TotalDataFrame,"[raw_train, raw_implicit, raw_test]",df_total
1,learning2read.preprocessing.UserRatingSqueeze,raw_train,user_rating
2,learning2read.preprocessing.BookRatingSqueeze,raw_train,book_rating
3,learning2read.preprocessing.UserBookTable,"[df_total, user_rating, book_rating]",df_total_features
4,learning2read.preprocessing.RowFilter,df_total_features,df_train

In [46]:
procedure6001 = [
    {
        'class' : 'learning2read.preprocessing.TotalDataFrame',
        'output' : 'df_total',
        'input_data' : ['raw_train', 'raw_implicit', 'raw_test'],
    },
    {
        'class' : 'learning2read.preprocessing.CleanRawBook',
        'output' : 'book_info',
        'input_data' : ['df_total', 'raw_book', 'isbn_table'],
        'na_policy' : 'median',
    },
    {
        'class' : 'learning2read.preprocessing.CleanRawUser',
        'output' : 'user_info',
        'input_data' : ['df_total', 'raw_user'],
        'na_policy' : 'median',
    }
]

P = run_proc(procedure6001, "p6001_1_test", {
        'raw_train': Data('dattrain'),
        'raw_test': Data('dattest'),
        'raw_implicit': Data('datimplicit'),
        'isbn_table': Data('isbn'),
        'raw_book': Data('datbooks'),
        'raw_user': Data('datulatlon'),
    }, Te)

P.input_from_var('book_info')

run_id(0): {'class': 'learning2read.preprocessing.TotalDataFrame', 'output': 'df_total', 'input_data': ['raw_train', 'raw_implicit', 'raw_test']}
run_id(1): {'class': 'learning2read.preprocessing.CleanRawBook', 'output': 'book_info', 'input_data': ['df_total', 'raw_book', 'isbn_table'], 'na_policy': 'median'}
run_id(2): {'class': 'learning2read.preprocessing.CleanRawUser', 'output': 'user_info', 'input_data': ['df_total', 'raw_user'], 'na_policy': 'median'}

,ISBN,ISBN_country_code,ISBN_country,ISBN_lat,ISBN_lon,Year_isna,Year-Of-Publication
0,00000000,,,,,1,1996.0
1,000000000,,,,,1,1996.0
2,0000000000,0,English,38.3345,-86.4641,1,1996.0
3,00000000000,,,,,1,1996.0
4,000000000000,,,,,1,1996.0
5,0000000000000,,,,,1,1996.0
6,0000000000090,,,,,1,1996.0
7,0000000008573,,,,,1,1996.0
8,0000000010,0,English,38.3345,-86.4641,1,1996.0
9,0000000016964,,,,,1,1996.0
10,0000000020,0,English,38.3345,-86.4641,1,1996.0
11,0000000022057,,,,,1,1996.0
12,0000000026307,,,,,1,1996.0
13,0000000029841,,,,,1,1996.0
14,0000000030670,,,,,1,1996.0
15,0000000033220,,,,,1,1996.0
16,0000000048118,,,,,1,1996.0
17,0000000051,0,English,38.3345,-86.4641,1,1996.0
18,0000000054690,,,,,1,1996.0
19,0000000124911,,,,,1,1996.0
20,00000001949,,,,,1,1996.0
21,00000001965,,,,,1,1996.0
22,000000046565,,,,,1,1996.0
23,000000060189,,,,,1,1996.0
24,000000078245,,,,,1,1996.0
25,0000001042283,,,,,1,1996.0
26,0000001056518,,,,,1,1996.0
27,0000001077469,,,,,1,1996.0
28,0000001481,0,English,38.3345,-86.4641,1,1996.0
29,000000168274,,,,,1,1996.0
...,...,...,...,...,...,...,...
340208,TBR0385495641,,,,,1,1996.0
340209,TERESA155,,,,,1,1996.0
340210,THEALLTRUETRA,,,,,1,1996.0
340211,THECATASTROPH,,,,,1,1996.0
340212,THEFLYINGACE,,,,,1,1996.0
340213,THEWINDMILLP,,,,,1,1996.0
340214,TINACRUZ1001,,,,,1,1996.0
340215,TM674623,,,,,1,1996.0
340216,ULLSTEINBUCHN,,,,,1,1996.0
340217,UNGRANDHOMMED,,,,,1,1996.0
340218,V16382000,,,,,1,1996.0
340219,VENAFRO001,,,,,1,1996.0
340220,VG3862004,,,,,1,1996.0
340221,WEAREWITNESSE,,,,,1,1996.0
340222,X000000000,0,English,38.3345,-86.4641,1,1996.0
340223,X113780760,1,English,38.3345,-86.4641,1,1996.0
340224,X439361760,4,Japan,36.5748,139.239,1,1996.0
340225,X903145730,90,Netherlands,52.238,5.53461,1,1996.0
340226,XXXXXXXXXX,,,,,1,1996.0
340227,XXXXXXXXXXXXX,,,,,1,1996.0
340228,Y99697115,,,,,1,1996.0
340229,YOUTELLEMAND,,,,,1,1996.0
340230,Z380703475,,,,,1,1996.0
340231,ZR902CX0093,,,,,1,1996.0
340232,ZR903CX0003,,,,,1,1996.0
340233,b00005wz75,,,,,1,1996.0
340234,cn108465,,,,,1,1996.0
340235,cn113107,,,,,1,1996.0
340236,crosoft,,,,,1,1996.0
340237,ooo7156103,,,,,1,1996.0

In [45]:
P.input_from_var('user_info')

           User-ID        Lat         Lon  Match   Age  Age_isna
0       00005ca705  47.608845 -122.042307      0    \N         0
1       0000f10801  46.150346  -67.573471      0  52.0         0
2       000172c181  41.893320   12.482932      0  41.0         0
3       0001ab86c7  40.004128  -75.288301      0    \N         0
4       0002609ef3  42.360482  -71.059568      0    \N         0
5       00034b68bc  42.497258  -82.937141      0  54.0         0
6       0003768e59  53.290249   10.498510      0    \N         0
7       000408821f  41.875555  -87.624421      0    \N         0
8       00046a5b8f  47.603832 -122.330062      0    \N         0
9       0004f7f0f9  43.653963  -79.387207      0    \N         0
10      00071aec8f  22.544570  114.054535      0    \N         0
11      0008c7fa3e -23.550651  -46.633382      0  24.0         0
12      0008ca6925  38.633772  -90.241655      0  66.0         0
13      000aae6a9c  42.360482  -71.059568      0  29.0         0
14      000acc4891  37.506267  -77.649268      0    \N         0
15      000af016d3  45.300596 -122.972542      0    \N         0
16      000afbecc1  48.754402 -122.478860      0  25.0         0
17      000ddc970d  31.897369  -98.603658      0    \N         0
18      000e47c1b2  38.982057  -74.957952      0  47.0         0
19      000e626c21  35.227087  -80.843127      0    \N         0
20      000e8b02de  41.840047   -1.169509      0    \N         0
21      000ec1c9b8 -25.868230   27.952200      1    \N         0
22      000eecfe20  37.469877 -105.869601      0  49.0         0
23      000ff5ab36  43.034993  -87.922497      0    \N         0
24      001052057b  38.707751   -9.136592      0  32.0         0
25      00109e25d9  55.949642   -3.190235      0    \N         0
26      0010c2a579  38.881385  -77.300647      0    \N         0
27      0010d88611  51.507322   -0.127647      0    \N         0
28      0010f24f57  43.103763  -77.484140      0  25.0         0
29      0011610ab2  39.361859  -74.582014      0    \N         0
...            ...        ...         ...    ...   ...       ...
105253  ffef6d7c79  42.431081  -83.483226      0    \N         0
105254  ffef9c986f  39.993596 -105.089706      0    \N         0
105255  fff080f192  47.603832 -122.330062      0    \N         0
105256  fff0958e3d  38.586494  -90.355775      0    \N         0
105257  fff115858e  39.167040  -86.534288      0  25.0         0
105258  fff24d2e04  38.833958 -104.825349      0  42.0         0
105259  fff254eb6c  46.855515    9.525407      0    \N         0
105260  fff2992b18  30.079883  -95.417255      0    \N         0
105261  fff3ac47f4  45.466797    9.190498      0  41.0         0
105262  fff3e09c5d  47.249580 -122.439875      0    \N         0
105263  fff45bef97  44.977300  -93.265469      0  34.0         0
105264  fff4dc62ae  43.268082  -82.530758      0    \N         0
105265  fff5715a03  36.407249 -105.573067      0  56.0         0
105266  fff785e6e2  51.453802   -2.597298      0  28.0         0
105267  fff7a18294  42.927528  -83.629952      0  33.0         0
105268  fff814e19c  41.382894    2.177432      0    \N         0
105269  fff9022557  40.730646  -73.986614      0  17.0         0
105270  fff9365a51  40.913486  -77.773747      0  24.0         0
105271  fff9589f27  34.653658 -120.457367      0    \N         0
105272  fff96ace2e  38.220711  -90.395950      0    \N         0
105273  fffa3a2087  51.457087    7.011429      0  24.0         0
105274  fffbfc6271  51.745424   -2.219860      0    \N         0
105275  fffc0860ba  45.229132  -94.001923      0  59.0         0
105276  fffc18e989  41.520896  -81.337519      0  79.0         0
105277  fffc981716  34.143916 -118.761144      0  50.0         0
105278  fffca59904  42.988576  -81.246643      0  19.0         0
105279  fffcf314c2  48.893342   11.183896      0    \N         0
105280  fffd6b18f7  35.331471  -92.081260      0    \N         0
105281  fffe55b014  45.487172 -122.803780      0    \N         0
105282  ffff45b1c3  51.371305   -0.101957      0    \N         0

[105283 rows x 6 columns]