In [42]:
import learning2read
from learning2read.b06 import *
from learning2read.proc import Procedure
from learning2read.preprocessing import TotalDataFrame
from importlib import reload
reload(learning2read.preprocessing)
learning2read.reload(learning2read.preprocessing)

In [2]:
Data("users").shape, Data("isbn").shape

((278858, 3), (226, 4))

In [3]:
procedure6001 = [
    {
        'class' : 'learning2read.preprocessing.TotalDataFrame',
        'output' : 'df_total',
        'input_data' : ['raw_train', 'raw_implicit', 'raw_test'],
    },
    {
        'class' : 'learning2read.preprocessing.UserRatingSqueeze',
        'output' : 'user_rating',
        'input_data' : 'raw_train',
        'filter_num' : 3,
        'statistics' : ['num','mean','std','skew'],
        'na_policy' : 'median',
    },
    {
        'class' : 'learning2read.preprocessing.BookRatingSqueeze',
        'output' : 'book_rating',
        'input_data' : 'raw_train',
        'filter_num' : 3,
        'statistics' : ['num','mean','std','skew'],
        'na_policy' : 'median',
    },
    {
        'class'  : 'learning2read.preprocessing.UserBookTable',
        'output' : 'df_total_features', # (X,y={-1,0,1,2,...,10})
        'input_data' : ['df_total', 'user_rating', 'book_rating'],
        'na_policy' : None, # should fill it before training
    },
    {
        'class'  : 'learning2read.preprocessing.RowFilter',
        'output' : 'df_train',
        'input_data' : 'df_total_features',
        'func' : r"lambda df : df['Book-Rating']>0",
    }
]

In [4]:
def run_proc(proc, filename, data, cache = True):
    if cache and File.is_readable(filename):
        P = load_pickle(File(filename))
    else:
        P = Procedure(proc, verbose = True)
        P.load_data(data)
        P.run()
        save_pickle(File(filename), P)
    return P
def print_proc(proc): return pd.DataFrame(proc).loc[:,['class','input_data','output']]

In [5]:
pd.DataFrame(procedure6001).loc[:,['class','input_data','output']]

,class,input_data,output
0,learning2read.preprocessing.TotalDataFrame,"[raw_train, raw_implicit, raw_test]",df_total
1,learning2read.preprocessing.UserRatingSqueeze,raw_train,user_rating
2,learning2read.preprocessing.BookRatingSqueeze,raw_train,book_rating
3,learning2read.preprocessing.UserBookTable,"[df_total, user_rating, book_rating]",df_total_features
4,learning2read.preprocessing.RowFilter,df_total_features,df_train

In [50]:
procedure6001 = [
    {
        'class' : 'learning2read.preprocessing.TotalDataFrame',
        'output' : 'df_total',
        'input_data' : ['raw_train', 'raw_implicit', 'raw_test'],
    },
    {
        'class' : 'learning2read.preprocessing.CleanRawBook',
        'output' : 'book_info',
        'input_data' : ['df_total', 'raw_book', 'isbn_table'],
        'na_policy' : 'median',
    },
    {
        'class' : 'learning2read.preprocessing.CleanRawUser',
        'output' : 'user_info',
        'input_data' : ['df_total', 'raw_user'],
        'na_policy' : 'median',
    }
]

P = run_proc(procedure6001, "p6001_1_test", {
        'raw_train': Data('dattrain'),
        'raw_test': Data('dattest'),
        'raw_implicit': Data('datimplicit'),
        'isbn_table': Data('isbn'),
        'raw_book': Data('datbooks'),
        'raw_user': Data('datulatlon'),
    }, True)

P.input_from_var('book_info').sample(20)

,ISBN,ISBN_country_code,ISBN_country,ISBN_lat,ISBN_lon,Year_isna,Year-Of-Publication
141140,0575052805,0,English,38.3345,-86.4641,0,1992.0
337935,9728413246,972,Portugal,40.0333,-7.88963,1,1996.0
39935,0312120494,0,English,38.3345,-86.4641,0,1994.0
26321,0140450378,0,English,38.3345,-86.4641,0,1950.0
9941,0060950668,0,English,38.3345,-86.4641,0,1994.0
23834,0140275428,0,English,38.3345,-86.4641,0,2003.0
229754,0881063940,0,English,38.3345,-86.4641,0,2001.0
324618,8495572060,84,Spain,40.0028,-4.0031,1,1996.0
218668,0842350357,0,English,38.3345,-86.4641,0,1993.0
192358,0770060242,0,English,38.3345,-86.4641,0,1959.0
109386,0448404753,0,English,38.3345,-86.4641,0,1992.0
139168,0553580834,0,English,38.3345,-86.4641,1,1996.0
327291,8804510854,88,Italy,42.6384,12.6743,1,1996.0
232293,0887763235,0,English,38.3345,-86.4641,0,1994.0
1669,0006481221,0,English,38.3345,-86.4641,0,1999.0
204633,0806946741,0,English,38.3345,-86.4641,0,1983.0
27262,0141010827,0,English,38.3345,-86.4641,1,1996.0
182324,0743445341,0,English,38.3345,-86.4641,0,2003.0
1656,0006480764,0,English,38.3345,-86.4641,1,1996.0
65087,0373243251,0,English,38.3345,-86.4641,0,2000.0

In [49]:
P.input_from_var('user_info').sample(20)

          User-ID        Lat         Lon  Match    Age  Age_isna
32525  4f3a92d0fc  39.101454  -84.512460      0   33.0         1
71628  ae6a87ccf4  42.590365  -72.309807      0   33.0         1
96800  eb55bad526  37.329709 -121.903160      0   33.0         1
24994  3cfe81c3be  37.779179  -97.467267      0   44.0         0
31367  4c7b4c8b26  59.913269   10.739111      0   40.0         0
1810   04894b501e  45.497216  -73.610364      0   33.0         1
31933  4dc4e31139  41.382894    2.177432      0   21.0         0
43631  6a7eaef68a  45.024950  -79.362552      0   48.0         0
39919  613860a087  29.758938  -95.367697      0   39.0         0
10577  1a2e393212  43.300697  -73.586082      0   62.0         0
46789  71efcf01c9  44.977300  -93.265469      0   33.0         1
46871  7226e330a0  38.894955  -77.036646      0   22.0         0
3460   08b1190200  31.282769  -85.202072      1   35.0         0
19918  30c19e9f39  53.063937    5.523672      0   33.0         1
87646  d4bd750235 -45.873928  170.503488      0   38.0         0
77813  bd2a2e5682  45.067755    7.682489      0   25.0         0
50186  7a2ac8dc4c  43.462310   -3.810107      0  103.0         0
71607  ae61b2617a  37.665653  -82.771549      0   18.0         0
23501  39684fd46b  40.416705   -3.703582      0   48.0         0
53441  81fadda2e9  38.707751   -9.136592      0   26.0         0

In [52]:
P.input_from_var('book_info').loc[lambda df: df.ISBN.str.contains('^978'), :]

,ISBN,ISBN_country_code,ISBN_country,ISBN_lat,ISBN_lon,Year_isna,Year-Of-Publication
338305,9780002000505,0,English,38.3345,-86.4641,1,1996.0
338306,9780006470977,0,English,38.3345,-86.4641,1,1996.0
338307,9780006531777,0,English,38.3345,-86.4641,1,1996.0
338308,9780006710813,0,English,38.3345,-86.4641,1,1996.0
338309,9780020780601,0,English,38.3345,-86.4641,1,1996.0
338310,9780060008253,0,English,38.3345,-86.4641,1,1996.0
338311,9780060173081,0,English,38.3345,-86.4641,1,1996.0
338312,9780060628475,0,English,38.3345,-86.4641,1,1996.0
338313,9780064407663,0,English,38.3345,-86.4641,1,1996.0
338314,9780064471060,0,English,38.3345,-86.4641,1,1996.0
338315,9780091801175,0,English,38.3345,-86.4641,1,1996.0
338316,9780091867904,0,English,38.3345,-86.4641,1,1996.0
338317,9780099189619,0,English,38.3345,-86.4641,1,1996.0
338318,9780099410218,0,English,38.3345,-86.4641,1,1996.0
338319,9780099429791,0,English,38.3345,-86.4641,1,1996.0
338320,9780099465249,0,English,38.3345,-86.4641,1,1996.0
338321,9780099470618,0,English,38.3345,-86.4641,1,1996.0
338322,9780099765219,0,English,38.3345,-86.4641,1,1996.0
338323,9780099772811,0,English,38.3345,-86.4641,1,1996.0
338324,9780138537715,0,English,38.3345,-86.4641,1,1996.0
338325,9780140233131,0,English,38.3345,-86.4641,1,1996.0
338326,9780140277036,0,English,38.3345,-86.4641,1,1996.0
338327,9780140287240,0,English,38.3345,-86.4641,1,1996.0
338328,9780140292794,0,English,38.3345,-86.4641,1,1996.0
338329,9780140296280,0,English,38.3345,-86.4641,1,1996.0
338330,9780140315387,0,English,38.3345,-86.4641,1,1996.0
338331,9780140327243,0,English,38.3345,-86.4641,1,1996.0
338332,9780140445923,0,English,38.3345,-86.4641,1,1996.0
338333,978014062208,,,,,1,1996.0
338334,9780141004914,0,English,38.3345,-86.4641,1,1996.0
...,...,...,...,...,...,...,...
338795,9788877682208,88,Italy,42.6384,12.6743,1,1996.0
338796,9788878193529,88,Italy,42.6384,12.6743,1,1996.0
338797,9788878248854,88,Italy,42.6384,12.6743,1,1996.0
338798,9788879831055,88,Italy,42.6384,12.6743,1,1996.0
338799,9788879831369,88,Italy,42.6384,12.6743,1,1996.0
338800,9788882902933,88,Italy,42.6384,12.6743,1,1996.0
338801,9788886534789,88,Italy,42.6384,12.6743,1,1996.0
338802,9788887939224,88,Italy,42.6384,12.6743,1,1996.0
338803,9788889315049,88,Italy,42.6384,12.6743,1,1996.0
338804,9789021484280,90,Netherlands,52.238,5.53461,1,1996.0
338805,9789024544929,90,Netherlands,52.238,5.53461,1,1996.0
338806,9789029534758,90,Netherlands,52.238,5.53461,1,1996.0
338807,9789044925326,90,Netherlands,52.238,5.53461,1,1996.0
338808,9789074336390,90,Netherlands,52.238,5.53461,1,1996.0
338809,9789500715201,950,Argentina,-34.9965,-64.9673,1,1996.0
338810,9789500717205,950,Argentina,-34.9965,-64.9673,1,1996.0
338811,9789500813037,950,Argentina,-34.9965,-64.9673,1,1996.0
338812,9789600404388,960,Greece,38.9954,21.9877,1,1996.0
338813,9789604170364,960,Greece,38.9954,21.9877,1,1996.0
338814,9789647033565,964,Iran,32.9407,52.9471,1,1996.0
338815,9789686635348,968,Mexico,19.4326,-99.1333,1,1996.0
338816,978972024570,,,,,1,1996.0
338817,9789724120607,972,Portugal,40.0333,-7.88963,1,1996.0
338818,9789724129457,972,Portugal,40.0333,-7.88963,1,1996.0
338819,9789725300565,972,Portugal,40.0333,-7.88963,1,1996.0
338820,9789725752418,972,Portugal,40.0333,-7.88963,1,1996.0
338821,9789727114627,972,Portugal,40.0333,-7.88963,1,1996.0
338822,9789727480340,972,Portugal,40.0333,-7.88963,1,1996.0
338823,9789875503373,987,Argentina,-34.9965,-64.9673,1,1996.0
338824,9789895550524,989,Portugal,40.0333,-7.88963,1,1996.0